

nav {

    width: 100%;
    height:70px;
    position: absolute;
    background-color: aqua;
    margin-top: 0%;
    position: absolute;
    background-color: rgb(61, 177, 212);
    color: white;

}

header {

    width: 100%;
    height: 600px;
    background-image: url("proje2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    position: absolute;

}


.GetNow { 
    margin-top: 20px;  
    border: solid rgb(0, 217, 255);
    width: 130px;
    height: 48px;
    background-color:rgb(0, 217, 255);
    display: inline-block;
    border-radius: 5%;
    margin-left: 600px;
    font-weight: 600;
    color: white;
}

.LiveDemo { 
    margin-top: 20px;  
    border: solid white;
    width: 130px;
    height: 48px;
    background-color: white;
    display: inline-block;
    border-radius: 5%;
    font-weight: 600;
    color: rgb(0, 217, 255);
}


.h1 {

    margin-top: 200px;
    
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: white;
}

.h4 {

    margin-top: 30px;
    text-align: center;
    font-weight: 520;
    font-size: 35px;
    color: white;
}

.classa { 

    float: right;
    font-weight: 600;
    position: absolute;
    margin-left: 1000px;
    font-size: large;
    margin-top: 30px;
    text-decoration: unset;
    color: white;
    padding-left: 10;
    font-size: 20px;
    
}

.h2 {

    float: left;
    position: absolute;
    margin-left: 80px;
    font-weight: 510;
    font-size: xx-large;
    color: white;
}

.contactheader {

    color: black;
    padding-left: 80px;
    font-weight: 700;
    font-size: x-large;
    margin-top: 0;
}

.priceheader {

    padding-left: 50px;
    padding-top: 50px;
    font-weight: 800;
    font-size: large;
    margin-top: 0%;
}

.contactdiv{

    height: 130px;
    background-color: rgb(49, 136, 250);
    width: 101%;
    margin-bottom: 0%;
}
.contactbutton1 {
    height: 40px;
    display: inline-block;
    margin-top: 90px;
    background-color: rgb(49, 136, 250);
    border-radius: 5%;
    width: 200px;
    border-color: rgb(49, 136, 250);
    margin-left: 350px;
    font-weight: 700;
}

.contactbutton2 {
    height: 40px;
    display: inline-block;
    margin-top: 90px;
    background-color: rgb(49, 136, 250);
    border-radius: 5%;
    width: 200px;
    border-color: rgb(49, 136, 250);
    font-weight: 700;
}

.contactbutton3 {
    height: 40px;
    display: inline-block;
    margin-top: 70px;
    background-color: rgb(49, 136, 250);
    border-radius: 5%;
    width: 200px;
    border-color: rgb(49, 136, 250);
    font-weight: 700;
}

.contactbutton4 {
    height: 40px;
    display: inline-block;
    margin-top: 70px;
    background-color: rgb(49, 136, 250);
    border-radius: 5%;
    width: 200px;
    border-color: rgb(49, 136, 250);
    font-weight: 700;
}

.pricetable, th , td {

    margin-top: 27px;
    
    border-collapse: collapse;
    height: 35px;
    width: 800px;
    font-weight: 540;
    
   
}
.preislisth1 {

    font-weight: 545;
    
}



.item1 { grid-area: bir; }
.item2 { grid-area: iki; }
.item3 { grid-area: uc; }
.item4 { grid-area: dort; }
.item5 { grid-area: bes; }
.item6 { grid-area: alti; }
.item7 { grid-area: yedi; }
.item8 { grid-area: sekiz; }


.grid-container {
  display: grid;
  grid-template-areas:
    'bir bir iki iki uc uc dort dort'
    'bes bes alti alti yedi yedi sekiz sekiz';
  grid-gap: 10px;
  padding: 10px;
  margin-top: 0px;
  height: 500px;
  margin-left: 210px;
  display: inline block;
  position: absolute;
 

}

.grid-container > div {

  text-align: left;
  font-size: 14px;
  margin-bottom: 8%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.Önerilen {

    margin-left: 260px;
    margin-top: 30px;
    font-size: x-large;
    font-weight: inherit;
    display: inline-block;
}

.logo{

    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;


}

.input {
    display: inline-block;
    width: 700px;
    height: 25px;
    margin-left: 250px;
    margin-top: 0px;
    border-radius: 5%;
    
}

.button {

    display: inline-block;
    margin-left: 0px;
    width: 70px;
    height: 30px;
}

.sol {

    display: inline-block;
    width: 100px;
    height: 800px;
    border: solid blue;
    margin-top: 5px;
    position: absolute;
}

.table {

    display: flex;
    width: 200px;
    height: 30vw;
    position: absolute;
    margin-left: 0px;
    font-size: 17px;
    font-weight: 570;
    
    
    
}
